@keyframes popup-smooth-form-open {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.popup_type_form {
  animation: popup-smooth-form-open 0.3s linear forwards;
}